body{
	background-image: radial-gradient(#87D5D0,#1DEAEC,#E5E8E0);
	margin: 0;
	padding: 0;
	
}
h1{
	color:#063730;
	font-size: 300%;
	/* text-shadow: 3px 3px #E5E8E0; */
	font-family: platino header;
	text-align: center;
	text-orientation: 2px;
	text-decoration: underline;
    /* text-underline-position: under; */
	
}
.pqr{
padding-top:20px;
font-family: 'Open Sans', sans-serif;
text-align: center;
padding-bottom:20px;
color: black;
font-weight: bold;
}
#f{
	font-family: arial;
	text-align: center;
	font-size: 30px;
	color: #063730;
text-shadow: 1.2px 1.2px #095F38;
}
input[type=text],select{
	width: 30%;
	text-align: left;
	padding: 5px 30px;
	height: 25px;
	border: 2px solid #063730;
	font-size: 20px;
	border-radius: 5px;
  margin: 8px 0;
  color: #063730;
  text-decoration: strong;
}
input[type=email],select{
	width: 30%;
	text-align: left;
	padding: 5px 30px;
	height: 25px;
	border: 2px solid #063730;
	border-radius: 5px;
	margin: 8px 0;
	font-size: 20px;

}
input[type=password],select{
	width: 30%;
	text-align: center;
	height: 25px;
	border: 2px solid #063730;
	padding: 5px 30px;
	border-radius: 5px;
	margin: 8px 0;
	font-size: 20px;
}
textarea,select{
	width: 30%;
	text-align: left;
	padding: 5px 30px;
	height: 25px;
	border: 2px solid #063730;
	border-radius: 5px;
	margin: 8px 0;
	font-size: 20px;

}
#slots,select{
	width: 30%;
	text-align: left;
	padding: 5px 30px;
	height: 35px;
	border: 2px solid #063730;
	border-radius: 5px;
	margin: 8px 0;
	font-size: 20px;

}

header{
	background:#063730;
	font-size: 40px;
	text-align: left;
	padding-top: 0px;
	padding-left: 10px;
	height: 40px;
	color: white;
	border:2px solid #E5E8E0;
	border-radius: 10px;
	
}
.topnav{
	float:right;
	font-size: 18px;
	height: 40px;
	padding-top: 10px;
	font-family: arial;

}
.topnav a:hover{
	background-color: #E5E8E0;
	color: #063730;
}
.topnav a:active{
	color: black;
	background-color: #E5E8E0;
	border: 2px solid #063730;
}

.topnav a{
	color: white;
	text-decoration-line: none;
   padding: 9.5px 8px 8px 16px;
}
.button {
  display: inline-block;
  padding: .75rem 1.25rem;
  border-radius: 10rem;
  color:#E5E8E0;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  text-decoration-line: none;
  border:2px solid #063730; }
  .button::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #063730;
    border-radius: 10rem;
    z-index: -2; }
  .button::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #87D5D0;  /*animation color*/
    transition: all .3s;
    border-radius: 10rem;
    z-index: -1;
    }
  .button:hover {
    color: #063730; }
    .button:hover:before {
      width: 100%; }/*animation width*/

/*# sourceMappingURL=hnpage1.css.map */
/*FOOTER*/
.all{
	margin-top:0;
	padding: 0;
	font-family: sans-serif;
}
.footer{
	width: 100%;
	background:#063730;
	display: block;
}
.inner-footer{
	width: 95%;
	margin: auto;
	padding: 30px 10px;
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	justify-content: center;
}
.footer-items{
	width: 25%;
	padding: 10px 20px;
	box-sizing: border-box;
}
.xyz{
	padding: 10px 0;
	font-size: 25px;
	color: #E5E8E0; 
	font-family: times new roman;
	text-decoration-line: none;
}
.footer-items p{
	color: #E2DBDB;
	font-size: 16px;
	text-align: justify;
	line-height: 25px;
}
h2{
	margin: 10px 0;
	color: #E2DBDB;
	font-size: 16px;
	font-weight: lighter;
	text-transform: uppercase; 
}
/*.border{
	height: 2px;
	width: 60px;
	background: red;
}*/
ul{
	list-style: none;
	color: white;
	font-size: 15px;
	padding-top: 5px;

}
ul a{
	text-decoration:none;
	outline: none;
	color: white;
	transition: .3s;
}
ul a:hover{
 color: #868383;

}
ul li{
	height: 25px;
	margin: 10px 0;
}

li i{
	margin-right: 20px;
}
.social-media{
	color: white;
	width: 100%;
	text-align: center;
}

.social-media a{
 text-decoration:none; 
}
.social-media i{
	height: 15px;
	width: 15px;
	margin: 20px 5px;
	padding: 10px;
	color: white;
	border: 1px solid #D7D0D0;
	border-radius: 50%;
	transition: .1s;
}
.social-media i:hover{
	background: grey;
	
}
.footer-bottom{
	padding: 10px ;
	background-color:#13574D;
	color: white;
	font-size: 14px;
	text-align: center;
}
@media scree and (max-width:600px ){
	.footer-items{
		width: 100%;
	}

}