


body{
	background-image: radial-gradient(#87D5D0,#1DEAEC,#E5E8E0);
	margin: 0;
	padding: 0;
}
	
.set{
	color:#063730;
	font-size: 300%;
	text-shadow: 3px 3px #E5E8E0;
	font-family: platino header;
	text-align: center;
	text-orientation: 2px;
	text-decoration: underline;
    text-underline-position: under;
	
}
#f{
	font-weight: bolder;
	font-family: sans-serif;
	text-align: center;
	font-size: 30px;
	color: #063730;
text-shadow: 1.2px 1.2px #095F38;
}
input[type=text],select{
	width: 30%;
	text-align: left;
	padding: 5px 30px;
	height: 25px;
	border: 2px solid #063730;
	font-size: 20px;
	border-radius: 5px;
  margin: 8px 0;
  color: #063730;
  text-decoration: none;
  font-weight: lighter;
}

header{
	background:#063730;
	font-size: 40px;
	text-align: left;
	padding-top: 0px;
	padding-left: 10px;
	height: 40px;
	color: white;
	border:2px solid #E5E8E0;
	border-radius: 10px;
	
}
.topnav{
	float:right;
	font-size: 18px;
	height: 40px;
	padding-top: 10px;
	font-family: arial;

}
.topnav a:hover{
	background-color: #E5E8E0;
	color: #063730;
}
.topnav a:active{
	color: black;
	background-color: #E5E8E0;
	border: 2px solid #063730;
}

.topnav a{
	color: white;
	text-decoration-line: none;
   padding: 9.5px 8px 8px 16px;
}
.button {
  display: inline-block;
  padding: .75rem 1.25rem;
  border-radius: 10rem;
  color:#E5E8E0;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  text-decoration-line: none;
  border:2px solid #063730;
  margin-bottom: .75rem }
  .button::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #063730;
    border-radius: 10rem;
    z-index: -2; }
  .button::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #87D5D0;  /*animation color*/
    transition: all .3s;
    border-radius: 10rem;
    z-index: -1;
    }
  .button:hover {
    color: #063730; }
    .button:hover:before {
      width: 100%; }/*animation width*/

/*# sourceMappingURL=hnpage1.css.map */


.footer-bottom{
	padding: 10px ;
	background-color:#13574D;
	color: white;
	font-size: 14px;
	text-align: center;
}

/* Remove margins and padding from the list */
ul {
  margin: 10px auto;
  padding: 20px 100px;
  
  text-align: center;
}

/* Style the list items */
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 25px;
  transition: 0.2s;
  list-style: none;
  border:1px solid #063730;
  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
  background: #7F7C7C;
}




/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #063730;
  color: white;
}

/* Style the header */
.header1 {
  
  font-family: arial;
	text-align: center;
	font-size: 16px;
	color: #063730;
text-shadow: 1.2px 1.2px #095F38;
}

/* Clear floats after the header */
.header1:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input 
input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
  text-align: 
}*/

/* Style the "Add" button */
.addBtn {
  padding: 10px;
  width: 35%;
  background: #d9d9d9;
  color: #063730;
  border: 2px solid #063730;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 10px;
}

.addBtn:hover {
  background-color: #bbb;
}